# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ARTEMIS_LEFT

config ZMK_KEYBOARD_NAME
	default "ARTEMIS_L"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_ARTEMIS_RIGHT

config ZMK_KEYBOARD_NAME
	default "ARTEMIS_R"

endif

if SHIELD_ARTEMIS_RIGHT || SHIELD_ARTEMIS_LEFT

config ZMK_SPLIT
	default y

endif
